streamlit==1.38.0
geopandas==0.14.1
folium==0.17.0
streamlit-folium==0.17.0
fiona==1.9.6
pyproj==3.6.1
shapely==2.0.2
ee==0.1.0  # Si usas Google Earth Engine en el original
pandas==2.2.2
numpy==1.26.4
